*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}

.body-one {
    height: 100vh;
    width: 100%;
    background: url("../images/design1_image2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-two {
    height: 100vh;
    width: 100%;
    background: url("../images/design1_image1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-three {
    height: 100vh;
    width: 100%;
    background: url("../images/hockey_1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-four {
    height: 100vh;
    width: 100%;
    background: url("../images/hockey_2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-five {
    height: 100vh;
    width: 100%;
    background: url("../images/hockey_3.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-six {
    height: 100vh;
    width: 100%;
    background: url("../images/De-Leo-web-1024x576.jpg") no-repeat center center fixed;
    background-size: cover;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
}

header figure {
    height: 30px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-top: 20px;
    margin-left: 550px;
    font-size: 55px;
    font-weight: 900;
    background-color:rgb(198, 200, 199);
    box-shadow: 10px 10px darkgray;
    opacity: 0.8;

}

.logo {
    display:flex;
    width: 160px;
    margin-left: 80px;
    transform: translateY(-5px);

}

nav {
    display: flex;
    background-color: black;
    height: 100px;
    justify-content: center;
}

nav a {
    display: flex;
    height: 40px;
    margin-top: 25px;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: aqua;
    font-weight: 700;
    text-decoration: none;
    margin-right: 40px;
}

#decoration {
    text-decoration: underline;
}

nav a:hover {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 102, 128);
}

/* main */

main {
    display: flex;
}

.main-section {
    width: 15%;
    margin-top: 40px;
    padding: 10px;
    font-size: 25px;
}

.main-section h2 {
    font-weight: 800;
    background-color:rgb(198, 200, 199);
    box-shadow: 10px 10px darkgray;
    opacity: 0.7;
}

.main-article {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 30px;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    background-color:rgb(198, 200, 199);
    box-shadow: 10px 10px darkgray;
    opacity: 0.95;

}

/* Rules */

.center-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.section-h2 {
    font-size: 18px;
}

.section-h2 h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-h2 ol li {
    margin-bottom: 20px;
}

p {
    font-size: 25px;
}

.section-h2 ol {
    list-style-type:decimal;
    font-weight: 600;
}

.section-h2 ol ol {
    list-style-type:lower-alpha;
    list-style-position: inside;

}

ol li {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.list-items ol li {
    font-size: 25px;
    font-weight: 600;
}


ul li {
    margin-left: 40px;
    margin-bottom: 50px;
    list-style-type: circle;
}

/* Game Info */

.main-article h3 {
    font-size: 30px;
}

.h4-decoration {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.styled-table { 
    table-layout: fixed;
    border-collapse: collapse; 
    margin: 25px; 
    font-size: 20px;
    width: 95%;
}

.styled-table thead tr { 
    text-align:center;
 }

 .styled-table thead tr th {
    font-weight: 800;

 }

.styled-table tbody {
    background-color: rgb(186, 185, 182);
} 

.styled-table tbody tr td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 9%;
    font-weight: 600;
} 

tbody tr:nth-child(4n-1){
    background-color: rgb(162, 162, 159);
}

tbody tr:nth-child(4n){
    background-color: rgb(162, 162, 159);
}

.footer-text {
    margin-bottom: 20px;
}

.footer-text2 {
    margin-bottom: 50px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Home */

div article h3 {
    font-style: italic;
}

div article p {
    font-weight: 600;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Contact - About MDHJ */

.main-article p {
    font-weight: 600;
    margin-bottom: 20px;
}

/* Maps */

.katzenmaier {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
}

.katzenmaier:hover {
    width: 800px;
    height: 320px;
    transform: translateX(-300px);
}

.greenbay {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
}

.greenbay:hover {
    width: 600px;
    height: 300px;
    transform: translateX(-300px);
} 

.yeager {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
}

.yeager:hover {
    width: 600px;
    height: 300px;
    transform: translateX(-300px);
} 

.hart {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
}

.hart:hover {
    width: 600px;
    height: 300px;
    transform: translateX(-300px);
} 

.north {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
} 

.north:hover {
    width: 600px;
    height: 300px;
    transform: translateX(-300px);
}

.south {
    width: 200px;
    height: 80px;
    transform: translateX(-80px);
}

.south:hover {
    width: 600px;
    height: 300px;
    transform: translateX(-300px);
}

/*********** Registration ***********/



form h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

form h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

form h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

form div {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.birth-gender {
    justify-content: space-between;
    height: 36px;
    margin-bottom: 30px;
}

.birth {
    margin-left: 10px;
    font-size: 25px;
}

.gender{
    height: 36px;
    margin: 0 100px;
}

.gender h3 {
    margin-right: 20px;
}

.gender label {
    margin-left: 20px;
}

.select {
    justify-content: start;
    margin-bottom: 50px;
}

.select option {
    font-size: 25px;
}


.size-label{
    display: flex;
    justify-content: start;
}

.size-label-school {
    flex-direction: column;
    margin-right: 150px;
    font-size: 25px;
}

.size-label-grade{
    justify-content: start;
}

.size-label-grade h3 {
    margin-right: 40px;
}

.size-label-grade label {
    margin-right: 40px;
    font-size: 25px;
}

.signature {
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:rgb(198, 200, 199);
    font-size: 30px;
}

.button {
    border: 1px solid;
    border-radius: 10px;
    margin: 30px ;
    padding: 5px;
    font-weight: 700;
    box-shadow: 7px 7px darkgray;
}

.button:hover {
    background-color: black;
    color: rgb(198, 200, 199);
}