*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin-top: 80px;
    background-image:url("../images/design1_image2.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    transform: translateY(-96px) ;
}


.title-events{
    border: 1px solid black;
    background-color: white;
    height: 50px;
    font-size: 30px;
    text-align:center;
    color: black;
    font-weight: bolder;
}

.logo {
    display:inline-block;
    position:absolute;
    margin-left: 15px;
    margin-top: 60px;
    width: 200px;
}

nav {
    display:inline;
    position:absolute;
    margin-top: -365px;
    margin-left: 75%;
    width: 500px;
}

nav a {
    box-sizing: border-box;
    padding: 5px 15px;
    font-size:25px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    margin-left: 10px; 
    margin-top: 90px;
    margin-bottom: 90px;
    background-color:cornflowerblue;
    text-decoration: none;

}

#decoration {
    background-color: green;
}

nav a:hover {
    font-size: 25px;
    font-weight: bold;
    background-color: green;
 }

.container {
    display:inline-block;
    position: absolute;
    font-size: 25px;
    margin-left: 350px;
    margin-top: 80px;
}

div article h3 {
    font-style: italic;
}

p {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img_hkcy {
    position: absolute;
    margin-top: 200px;
    margin-left: 70%;
}